name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  security:
    name: Security Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
          cache-dependency-path: 'ivisa-tamagui/yarn.lock'
      - name: Install dependencies
        run: cd ivisa-tamagui && yarn install --frozen-lockfile
      - name: Run Security Scan
        run: cd ivisa-tamagui && yarn run scan:security
